.btn-group {
    font-family: 'Ubuntu';
    font-weight: 900;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.btn-grp {
    padding-left: 20%;
}

.btn-add {
    padding-left: 5%;
}

.group-row {
    width: 92%;
    margin: 5% auto ;
    text-align: center;
}

.btn {
     text-align: center;
}

button {
    text-align: center;
}